h1 {
  font-size: 1.76rem;
  font-weight: bold;
}

.navbar a:link,
.navbar a:visited {
  color: white;
}
.navbar .avatar{
   width: 32px;
   height: 32px;
   max-height: 32px !important;
   margin-top: 2px;
   border-radius: 3px;
}