h1 {
    font-size: 1.76rem;
    font-weight: bold;
}

.navbar a:link,
.navbar a:visited {
    color: white;
}

.navbar .avatar {
    width: 32px;
    height: 32px;
    max-height: 32px !important;
    margin-top: 2px;
    border-radius: 3px;
}

.logo-wrap {
    /* min-width: 280px; */
}

.logo-wrap h1 {
    color: white;
}

a.logo-wrap {
    text-decoration: none;
}

.nav-item {
    float: left;
}

.nav-item.right {
    float: right;
    margin-left: 8px;
}

.hidden {
    display: none;
}

.nav-phone-icon {
    position: absolute;
    right: 30px;
    top: 25px;
    z-index: 1;
    width: 16px;
    height: 22px;
    cursor: pointer;
    display: block;
    color: white;
    font-size: 1.5em;
}

.ant-popover-inner .header-menu-content {
    min-height: 40px;
}

.ant-popover-inner .ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left{
    border: 0;
}